@font-face {
    font-family: SVN-Poppins;
    src: url('../font/PoppinsVN-400.ttf');
}

body {
    font-family: SVN-Poppins;
}

button,
a {
    cursor: pointer;
}


/*Header*/

.items {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.icon-menu {
    display: flex;
    justify-content: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #20062E;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 32px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-weight: 500;
    font-size: 14px;
}

.icon-menu a {
    padding: 60px 10px 0 10px;
}

.icon-menu a img {
    width: 25px;
    height: 25px;
}

.icon-menu a:nth-child(5) img {
    width: 34px;
    height: 34px;
}

.icon-menu a:nth-child(5) {
    padding-top: 55px;
}

.sidenav .closebtn {
    font-size: 30px;
    text-align: right;
    padding-right: 10%;
}

.sidenav button {
    width: 100%;
    border-radius: 5px;
    background-color: #00ffff00;
    border: 0;
    color: #818181;
    margin-bottom: 10px;
    padding: 5px 0 5px 0;
    font-size: 13px;
}

#menu8 {
    border: 2px solid #EC4C93;
    box-shadow: 0px 0px 10px #ec4c93;
}

header {
    background: #20062E;
    /* overflow: hidden; */
}

header li.nav-item .button button {
    background: #20062E;
    border: 1px solid #EC4C93;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    /* box-shadow: 0 0 5px 2px #ec4c93; */
    padding: 8px 10px 8px 10px;
}

.dropdown-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    padding: 8px 0 8px 20px;
}

header li.nav-item .button button:hover {
    color: #EC4C93;
}


/*Flag*/

header li.nav-item img {
    /* width: 100%; */
    padding-left: 15px;
}

header li.nav-item .dropdown-menu.dropdown-flag.show {
    min-width: 3em;
    margin-left: 1em;
}

header li.nav-item .dropdown-menu.show a.flag:hover {
    background: none!important;
}

header li.nav-item .dropdown-menu.show a.flag {
    margin-left: -1.5px;
    padding: 2px 0;
}


/***/

.navbar-nav {
    align-items: center;
}

.navbar-nav li:nth-child(8) {
    margin-left: 70px;
}

.navbar-nav li:nth-child(8) .button a {
    padding-right: 0 !important;
}

.navbar-nav li:nth-child(9) .button a button {
    border: 1px solid #ff2485;
    box-shadow: 0 0 5px 2px #ff2485;
    padding: 7px 18px 7px 18px;
}

.login-button-mb,
.imgdocthem-mb {
    display: none;
}

.navbar-nav .nav-link {
    padding: 10px 15px 10px 15px !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.navbar-nav .nav-link:hover {
    text-shadow: 0px 0px 5px #EC4C93;
    color: #EC4C93 !important;
}

.navbar-dark .navbar-toggler {
    border: 0;
    padding: 0;
}

.navbar-dark .navbar-toggler span i {
    font-size: 34px;
    color: #EC4C93;
}

.items {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.items a:hover {
    color: white;
}

.icon-menu a:nth-child(5) img {
    width: 34px;
    height: 34px;
}


/*End Header*/


/*Footer*/

footer {
    background: #09010E;
    border-top: 5px solid #ec4c93;
    padding-top: 5%;
}

footer .mobile {
    display: none;
}

footer .footer-bottom {
    border-top: 1px solid #fff;
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

footer .footer-bottom p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
}

footer .footer-bottom a {
    font-size: 14px;
    line-height: 21px;
    color: #b769a0;
    text-decoration: none;
}

h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #FFFFFF;
}

.col-md-4 ul {
    list-style: none;
    padding-left: 0;
}

.col-md-4 ul li a {
    text-decoration: none;
}

.col-md-4 ul li a p {
    font-size: 14px;
    line-height: 22.5px;
    font-style: normal;
    color: #ffffffd1;
    font-weight: 400;
    margin-bottom: 0;
}

.col-md-4 ul li a p:hover {
    color: #B769A0;
}


/*End Footer*/

main {
    background-image: url('../images/09 2.png');
    background-size: 100%;
}

.back a {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}

.main-top {
    padding-top: 105px;
    padding-bottom: 186px;
    border-bottom: 1px solid #FFFFFF;
}

.back {
    padding-bottom: 91px;
}

.main-top .titledocthem {
    padding-bottom: 100px;
}

.main-top .titledocthem p:nth-child(1) {
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    color: #FFFFFF;
    padding-bottom: 30px;
    margin-bottom: 0;
}

.main-top .titledocthem p:nth-child(2) {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 0;
}

.main-top .cmt p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    /* or 24px */
    text-align: justify;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.main-top .imgs {
    padding-bottom: 100px;
}

.main-bottom {
    padding-top: 100px;
    padding-bottom: 318px;
}

.main-bottom .post {
    display: flex;
}

.main-bottom .post .comment form textarea {
    width: 100%;
    height: 200px;
    padding: 25px 29px;
    margin-bottom: 12px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    text-align: justify;
}

.main-bottom .post .comment form button {
    background: #EC4C93;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */
    text-align: justify;
    color: #000000;
    padding: 18px 80px 18px 80px;
}

.main-bottom .post .imgdocthem {
    padding-right: 50px;
}

.main-bottom .post .imgdocthem p {
    text-align: center;
    padding-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    color: #FFFFFF;
}

.main-bottom .post:nth-child(2) {
    padding-top: 60px;
}

.main-bottom .post:nth-child(3) {
    padding-top: 15px;
    margin-left: 14%;
}

.main-bottom .post:nth-child(1) .comment {
    width: 100%;
}

.main-bottom .post:nth-child(2) .comment p:nth-child(1),
.post:nth-child(3) .comment p:nth-child(1) {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 120%;
    /* identical to box height, or 30px */
    text-align: justify;
    color: #000000;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.main-bottom .post:nth-child(2) .comment p:nth-child(2),
.post:nth-child(3) .comment p:nth-child(2) {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    text-align: justify;
    color: rgba(0, 0, 0, 0.7);
}

.main-bottom .post:nth-child(2) .comment,
.post:nth-child(3) .comment {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px 30px 10px 30px;
}

.main-bottom .post:nth-child(2) .comment .share,
.post:nth-child(3) .comment .share {
    display: flex;
}

.main-bottom .post:nth-child(2) .comment .share svg:nth-child(4),
.post:nth-child(3) .comment .share svg:nth-child(4) {
    margin-right: 22px;
}

.main-bottom .post:nth-child(2) .comment .share a,
p,
.post:nth-child(3) .comment .share a,
p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    color: #606060;
}

.imgs img {
    width: 100%;
}

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1536px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1366px) {}


/*Ipad ngang(1024 x 768)*/

@media screen and (max-width: 1024px) {
    .navbar-nav li:nth-child(8) {
        margin-left: 40px;
    }
}


/*Ipad dọc(768 x 1024)*/

@media screen and (max-width: 768px) {
    .main-top {
        padding-top: 65px;
        padding-bottom: 40px;
    }
    .main-bottom {
        padding-top: 70px;
        padding-bottom: 318px;
    }
    .main-bottom .post .comment form textarea {
        height: 120px;
    }
    .back a {
        font-size: 18px;
    }
    .back {
        padding-bottom: 50px;
    }
    .main-top .imgs {
        padding-bottom: 50px;
    }
    .main-top .titledocthem p:nth-child(1) {
        font-size: 25px;
        padding-bottom: 20px;
    }
    .main-top .titledocthem {
        padding-bottom: 40px;
    }
    .main-top .titledocthem p:nth-child(2) {
        font-size: 15px;
    }
    .cmt p {
        font-size: 20px;
        text-align: justify;
    }
    footer img {
        width: 35%;
        margin-left: 20%;
        margin-top: 10%;
    }
    footer .box {
        margin-left: -65px;
    }
    header .navbar .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .menu-mb {
        display: flex;
        align-items: center;
        width: 27%;
    }
    .login-button-mb,
    .imgdocthem-mb {
        display: block;
        margin-right: 25px;
    }
    .slide {
        width: 100%;
        color: #ec4c93;
    }
    .login-button-mb button {
        width: 80px;
        max-width: 106px;
        height: 30px;
        box-sizing: border-box;
        border-radius: 2px;
        background: #20062e00;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        align-items: center;
        color: #FFFFFF;
        padding: 7px 15px 8px 15px;
        border: 1px solid #ff2485;
        box-shadow: 0 0 5px 2px #ff2485;
    }
    .slide .toggle svg {
        width: auto;
    }
    .button-menu {
        text-align: center;
        padding: 0 20px 0 20px;
    }
    .sidenav a:nth-child(4) {
        display: flex;
        justify-content: space-between;
    }
    /*---------------------*/
    header li.nav-item .button button,
    header li.nav-item img {
        display: none;
    }
    .login-button-mb button:hover {
        color: #EC4C93;
    }
    .navbar-nav {
        align-items: normal;
    }
    .banner .text-left p {
        font-size: 36px;
    }
}


/*Tablet nhỏ(480 x 640)*/

@media screen and (max-width: 480px) {
    footer .mobile {
        display: block;
    }
    footer .pc {
        display: none;
    }
    footer {
        text-align: center;
    }
    footer .footer-bottom a {
        font-size: 14px;
        line-height: 21px;
        color: #b769a0;
        text-decoration: none;
    }
    footer .footer-bottom .col-ms-12 {
        padding-bottom: 10px;
    }
    footer {
        text-align: center;
        padding-top: 15%;
    }
    footer img {
        margin: 0;
    }
    footer .col-sm-6 {
        width: 50%;
        margin-top: 10%;
        padding-bottom: 5%;
    }
    footer .box {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 0;
        padding-left: 0;
        margin-top: 10%;
        margin-left: -3px;
    }
}

@media screen and (max-width: 425px) {
    .menu-mb {
        display: flex;
        align-items: center;
        width: 50%;
    }
    footer .footer-bottom {
        border-top: 1px solid #fff;
        margin-top: 0rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    .main-top .cmt p {
        padding: 0 10px;
        line-height: 130%;
        margin-bottom: 10%;
        font-size: 16px;
    }
    .main-top .titledocthem p:nth-child(1) {
        font-size: 22px;
        padding-bottom: 20px;
    }
    .back a {
        font-size: 15px;
    }
    .main-top .titledocthem p:nth-child(2) {
        font-size: 13px;
    }
    .main-top {
        padding-top: 65px;
        padding-bottom: 15px;
    }
    .main-bottom .post .imgdocthem {
        padding-right: 20px;
    }
    .imgdocthem img {
        width: 50px;
    }
    .main-bottom .post .comment form button {
        border-radius: 5px;
        font-size: 15px;
        padding: 10px 50px 10px 50px;
    }
    .main-bottom {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    .main-bottom .post .comment form textarea {
        height: 120px;
        padding: 15px;
    }
    .main-bottom .post:nth-child(2) .comment p:nth-child(1),
    .post:nth-child(3) .comment p:nth-child(1) {
        font-size: 20px;
    }
    .main-bottom .post:nth-child(2) .comment p:nth-child(2),
    .post:nth-child(3) .comment p:nth-child(2) {
        font-size: 16px;
        text-align: left;
    }
    .main-bottom .post:nth-child(2) {
        padding-top: 40px;
    }
}

@media screen and (max-width: 414px) {}

@media screen and (max-width: 375px) {
    .menu-mb {
        display: flex;
        align-items: center;
        width: 55%;
    }
    /*--------*/
    .login-button-mb,
    .imgdocthem-mb {
        display: block;
        margin-right: 20px;
    }
}


/*Iphone(480 x 640)*/

@media screen and (max-width: 320px) {
    .menu-mb {
        display: flex;
        align-items: center;
        width: 66%;
    }
}